<div class="row">
  <div class="col-12">
    <div class="form-group">
      <label for="nombre_usuario">Buscar</label>
      <input type="text" class="form-control" id="nombre_usuario">
    </div>
  </div>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.idUsuario}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre  </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="rol">
      <th mat-header-cell *matHeaderCellDef> Rol </th>
      <td mat-cell *matCellDef="let element"> {{element.rolEntity.nombre}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef > Estado </th>
      <td mat-cell *matCellDef="let element"> {{element.active === true}} </td>
    </ng-container>

    <ng-container matColumnDef="aciones">
      <th mat-header-cell *matHeaderCellDef> Aciones </th>
      <td mat-cell *matCellDef="let element" style="width: 150px;">

        <div class="row">
          <div class="col-6">
            <button class="btn  btn-danger btn-acion" (click)="eliminar(element)">Eliminar</button>
          </div>
          <div class="col-6">
            <button class="btn  btn-primary btn-acion" (click)="editar(element)">Editar</button>
          </div>
        </div>

      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
