<mat-drawer-container class="container-uno">
  <mat-drawer mode="side" opened class="side">
    <button mat-button class="btn-defaul">usuarios</button>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container-fluid" style="margin-top: 100px">
      <div class="row">
        <div class="col-4">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Gestion de usuario</mat-card-title>
            </mat-card-header>
                       <mat-card-content>
                         <form [formGroup]="formGroupUsuario" (ngSubmit)="guardarUsuario()">
                           <div class="form-group">
                             <label for="idUsuario">Id usuario</label>
                             <input type="text" class="form-control" name="idUsuario"
                                    id="idUsuario" aria-describedby="emailHelp" formControlName="idUsuario" disabled>
                             </div>
                           <div class="form-group">
                             <label for="nombre">Nombre</label>
                             <input type="text" class="form-control" id="nombre"  formControlName="nombre">
                           </div>
                           <div class="form-group">
                             <select class="form-control" name="rolDTO"  id="rolDTO"
                                     formControlName="rolDTO" placeholder="selecione  rol">
                               <option *ngFor="let item of rolModel" [value]="item.rolId">{{ item.nombre }}</option>
                             </select>
                           </div>
                           <div class="row">
                             <div class="col-9">
                               <div class="d-flex flex-row bd-highlight mb-3">
                                 <div class="p-2 bd-highlight">
                                   <label class="form-check-label" style="margin-right: 10px" >Estado</label>
                                   <mat-button-toggle-group name="fontStyle" aria-label="Font Style"
                                                            formControlName="active">
                                     <mat-button-toggle value="true">Activo</mat-button-toggle>
                                     <mat-button-toggle value="false">Inativo</mat-button-toggle>
                                   </mat-button-toggle-group>
                                 </div>
                               </div>
                             </div>
                           </div>
                           <button type="submit" class="btn btn-primary"
                            *ngIf="acciones === 'GUARDAR'">Guarda</button>
                           <button type="submit" class="btn btn-primary"
                                   *ngIf="acciones === 'EDITAR'" (click)="editarUser()">EDITAR</button>
                         </form>
                       </mat-card-content>
            <mat-card-actions>

            </mat-card-actions>
          </mat-card>
        </div>
        <div class="col-8">
          <app-lista-usuarios (usuarioOutput)="editarUsuarios($event)"></app-lista-usuarios>
        </div>
      </div>

    </div>
  </mat-drawer-content>
</mat-drawer-container>
