.container-uno {
  width: 100%;
  height: 100vh;
  margin: 0;

}
.side{
  background: #00B8D4;
  width: 100px;
}
.btn-defaul{
  border-radius: 0;
  width: 100%;
  height: 100px;
  background: #263238;
  color: #CFD8DC;
  font-weight: bold;
  font-size: 1.1em;
}
